@media only screen and (max-width:760px) {
    body {
      margin: 0 !important
    }
} 


.container{
    background-image: url(./homeBackground.jpg) no-repeat center center fixed;
   
  }


.header-container {
    text-align: center;
    width: 100%;
    height: 100%;
}



.header {

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
    font-family: 'Raleway', sans-serif;
    margin-top: 200px;
    margin-left: 10px;
    width: 100%;
    text-align: center;
    

}

#feeling {
    color: rgba(128, 127, 133, 0.973);
    font-size: 2vw;
    font-style: italic;
    margin-left: 17px;
    margin-top: 300px; 
}

body {
    background: url(./homeBackground.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}




    /* animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
    color: rgba(128, 127, 133, 0.973);
    font-size: 1vw;
    font-style: italic;
    margin-left: 17px;
    margin-top: 555px; 
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  } */






  
